<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Навигация</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#">Проекты</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Задачи</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link_active" href="#">Пользователи</a>
      </li>
    </ul>
    <button class="nav__profile-btn">
      <img class="nav__profile-pic" src="../../img/progile-pic.jpg" alt="">
      <div class="nav__profile-wrapper">
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.99999 4.95L2.04999 0L0.635986 1.414L6.99999 7.778L13.364 1.414L11.95 0L6.99999 4.95Z" fill="white"/>
        </svg>
      </div>
    </button>
  </nav>
</body>
</html>