@import "../../general.scss";
@import "../../variables.scss";

.empty {
  padding: 24px;
  height: 100vh;

  &__wrapper {
    height: 100%;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__text {
    @extend %font-basic;
    color: #000000;
  }

  &__btn {
    padding: 12px 16px;

    color: #ffffff;
    @extend %font-basic;

    background-color: $primary-bg-color;
    border-radius: $border-radius;
    border: none;

    &:hover {
      background-color: #1068BF;
    }

    &:active {
      background-color: #0B5CAD;
    }
  }
}